body{
    margin: 0;
}

/* font initialize */
@font-face {
    font-family: "Farfromhome";
    src: url("../Typo-FarFromHomecoming.woff2");
}
@font-face {
    font-family: "Montserrat";
    src: url("../Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Montserrat-semibold";
    src: url("../static/Montserrat-SemiBold.ttf");
}


/* begin header css */
header{
    background-color: #b11313;
    display: flex;
    padding: 1.2% 12%;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat-semibold";
    
    font-size: 20px;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header .logo-marvel{
    display: flex;
    align-items: center;
    width: 27%;
}
.logosayna{
    width: 16%;
}
.logox{
    margin: 0% 8%;
}
.logomarvel{
    width: 46%;
    height: 92%;
}

.navmobil{
    display: none;
}





.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #F0F0F0;  
  }
  .dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;  
  }
  ul {
    list-style:none;
  }
  .navbar{
      justify-content: flex-end;
  }
  .navbar__links { 
    display:flex;  
  }
  .navbar__link { 
    padding:0 10px;
  }
  .navbar__link > a { 
    color:var(--navbar-color);
    text-decoration:none;
  }
  .burger {
    display:none;
  }
  
/* end header css */

/* begin section1 */
.section1{
    background-color: #f1c530;
    color: #fff;
    background-image: url("../Illustration/img5.png");
    transform: scaleX(-1);
    background-repeat: no-repeat;
}
.section-content{
    transform: scaleX(-1);
    padding: 15% 10%;
}
.section-content h1{
    font-family: "Farfromhome";
    font-size: 100px;
}
.section-content h2{
    font-family: "Montserrat-semibold";
    font-size: 23px;
}
/* end section1 */

/* begin section2 */
.section2{
    background-color: #b11313;
    color: #fff;
    padding: 10%;
    font-family: "Montserrat";
    font-size: 14px;
}
.section2 .panel-title h1{
    font-family: "Farfromhome";
    font-size: 50px;
}
.section2 .panel-title{
    margin-bottom: 7%;
}
.section2 .form-section2{
    display: flex;
    flex-direction: row;
    
}
.img-form, .form-content{
    width: 50%;
}
.section2 .form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 .form-content form{
    width: 70%;
}
.section2 .form-content .panel-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section2 .form-content .panel-input input[type="text"]{
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    width: 100%;
    height: 35px;
    padding-left: 5%;
    margin-bottom: 7%;
}

.section2 .form-content .panel-input textarea{
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 26px;
    width: 100%;
    height: 130px;
    padding: 3%;
}
.section2 .form-content .panel-btn{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.button{
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

/* end section 2 */

/* begin section3 */
.section3{
    background-color: #114c92;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    padding: 6% 10%;
}
.section3 .s3-panel-title h1{
    font-family: "Farfromhome";
    font-size: 32px;
}
.section3 .s3-panel-title{
    margin-bottom: 5%;
}
.section3 .s3-panel-content{
    display: flex;
    margin-bottom: 5%;
}
.section3 .s3-panel-content>div{
    margin: 1%;
    width: 50%;
}
.section3 .s3-panel-content>div p{
    text-align: justify;
}
.s3-panel-rs .s3-rs-txt{
    margin-bottom: 5%;
    font-family: "Montserrat-semibold";
    font-size: 20px;
}
.s3-panel-rs .s3-rs-content{
    display: flex;
    justify-content: space-around;
}
/* end section3 */

/* begin footer*/
footer{
    background-color: #000;
    color: #fff;
    padding: 0% 10%;
    font-family: "Montserrat";
    font-size: 14px;
}
footer .nav-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    
}
.footermobil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
    margin-right: 2%;
}
footer .logo-marvel-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5%;
    margin-left: -5%;
}

footer .lang{
    border: none;
    background-color: #b11313;
    box-shadow: none;
    color: #fff;
    border-radius: 50px;
}

footer .btn-lang{
    width: 22%;
}
.btn-group{
    width: 100%;
}

footer .footer-logo-rs{
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}

footer .footer-logo-rs a{
    background-color: #b11313;
    padding: 5px;
    border-radius: 50px;
    margin: 0% 0.5%;
}

footer .corpyright{
    text-align: center;
    padding-bottom: 3%;
}
.footerlogomobil{
    display: none;
}
/* end footer */