body{
    margin: 0;
}

/* font initialize */
@font-face {
    font-family: "Farfromhome";
    src: url("../Typo-FarFromHomecoming.woff2");
}
@font-face {
    font-family: "Montserrat";
    src: url("../Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Montserrat-semibold";
    src: url("../static/Montserrat-SemiBold.ttf");
}


/* begin header css */
header{
    background-color: #114c92;
    display: flex;
    padding: 1.2% 12%;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat-semibold";
    
    font-size: 20px;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header .logo-marvel{
    display: flex;
    align-items: center;
    width: 27%;
}
.logosayna{
    width: 16%;
}
.logox{
    margin: 0% 8%;
}
.logomarvel{
    width: 46%;
    height: 92%;
}

.navmobil{
    display: none;
}
/* end header css */

/* begin section1 */
.section1{
    background-image: url("../Illustration/img19.png");
    background-size: 100%;
    color: #fff;
}
.s1-content{
    padding-left: 10%;
    padding-top: 20%;
    padding-bottom: 13%;
}
.s1-content h1{
    font-family: "Farfromhome";
    font-size: 90px;
}
.s1-content span{
    font-family: "Montserrat-semibold";
    font-size: 30px;
}
/* end section1 */

/* begin section2 */
.section2{
    background-color: #114c92;
    padding: 6% 10%;
    font-family: "Montserrat";
    color: #fff;
}
.s2-content-title{
    margin-bottom: 4%;
}
.s2-content-title h1{
    font-family: "Farfromhome";
    font-size: 40px;
}
.s2-content-title span{
    font-family: "Montserrat-semibold";
    font-size: 20px;
}
.s2-content-item{
    display: flex;
}
.s2-content-txt{
    width: 40%;
    font-size: 14px;
    text-align: justify;
}
.responsiv-s2-space{
    display: none;
}
.s2-content-video{
    width: 60%;
    padding-left: 9%;
    display: flex;
    align-items: center;
}
.s2-content-video video{
    width: 100%;
}
/* end section2 */


/* begin section3 */
.section3{
    background-image: url("../Illustration/img20.png");
    background-size: 100%;
    color: #fff;
}
.s3-content{
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 21%;
}
.s3-content h1{
    font-family: "Farfromhome";
    font-size: 45px;
}
.s3-content span{
    font-family: "Montserrat-semibold";
    font-size: 20px;
}
/* end section3 */


/*  begin section4 */
.section4{
    background-color: #114c92;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
}
.s4-content-txt{
    display: flex;
    margin-bottom: 5%;
}
.s4-content-txt .s4-txtl, .s4-content-txt .s4-txtr{
    width: 50%;
    padding: 1%;
}
.s4-content-txt p{
    text-align: justify;
    margin-bottom: 2%;
}

.s4-content-friends .s4-title h1{
    font-family: "Farfromhome";
    font-size: 32px;
    margin-bottom: -1%;
}
.s4-content-friends .s4-title span{
    font-family: "Montserrat";
    font-size: 20px;
}
.s4-content-friends .s4-title{
    margin-bottom: 3%;
}
.s4-content-friends1, .s4-content-friends2{
    display: flex;
    justify-content: space-between;
}
 .s4-friends-txt{
    width: 45%;
}
.s4-friends-img{
    position: relative;
}
.s4-content-friends1 .position{
    position: absolute;
    margin-left: -52%;
    margin-top: 28%;
}
.s4-friends-txt p{
    text-align: justify;
}
.s4-content-friends1 .s4-friends-txt h1{
    text-align: center;
}
.s4-friends-txt h1{
    font-family: "Farfromhome";
    font-size: 32px;
    
}
.s4-content-friends1{
    margin-bottom: 3%;
}
.s4-content-friends2{
    flex-direction: row-reverse;
    justify-content: space-between;
}
.s4-content-friends2 .s4-friends-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.s4-content-friends2 .s4-friends-img img{
    margin: 4%;
}
.s4-content-friends{
    margin-bottom: 2%;
}
.s4-titlereps{
    display: none;
}


.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #F0F0F0;  
  }
  .dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;  
  }
  ul {
    list-style:none;
  }
  .navbar{
      justify-content: flex-end;
  }
  .navbar__links { 
    display:flex;  
  }
  .navbar__link { 
    padding:0 10px;
  }
  .navbar__link > a { 
    color:var(--navbar-color);
    text-decoration:none;
  }
  .burger {
    display:none;
  }
  
/* end section4 */


/* begin section 5 */
.section5{
    background-color: #b11313;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    display: flex;
}
.section5 .s5-contentl, .section5 .s5-contentr{
    width: 50%;
}
.section5 .s5-contentl{
    padding-left: 10%;
    padding-top: 5%;
}
.section5 .s5-contentr img{
    width: 100%;
}
.section5 .s5-contentl img{
    width: 40%;
    margin: 2%;
}
.s5-item-elemt p{
    width: 45%;
    text-align: justify;
    float: right;
    margin-right: 7%;
    font-size: 12px;
}
.s5-item-title h1{
    font-family: "Farfromhome";
    font-size: 32px;
}
/* end section 5 */


/* begin section6 */
.section6{
    background-image: url("../Illustration/img33.png");
    background-size: 100%;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
}
.section6 .s6-content{
    background-color: rgba(17, 76, 146, 0.7);
    width: 35%;
    margin-left: 53%;
    padding: 3% 2% 5% 2%;
}
.section6 .s6-content h1{
    text-align: center;
    font-size: 25px;
}
.section6 .s6-content .s6-content-txt{
    font-size: 12px;
    text-align: justify;
}
.s6-content-title span{
    display: flex;
    justify-content: flex-end;
    font-family: "Montserrat-semibold";
    font-size: 14px;
}
.s6-content-title{
    margin-bottom: 2%;
}
/* end section6 */


/* begin footer*/
footer{
    background-color: #000;
    color: #fff;
    padding: 0% 10%;
    font-family: "Montserrat";
    font-size: 14px;
}
footer .nav-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    
}
.footermobil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
    margin-right: 2%;
}
footer .logo-marvel-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5%;
    margin-left: -5%;
}

footer .lang{
    border: none;
    background-color: #114c92;
    box-shadow: none;
    color: #fff;
    border-radius: 50px;
}

footer .btn-lang{
    width: 22%;
}
.btn-group{
    width: 100%;
}

footer .footer-logo-rs{
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}

footer .footer-logo-rs a{
    background-color: #114c92;
    padding: 5px;
    border-radius: 50px;
    margin: 0% 0.5%;
}

footer .corpyright{
    text-align: center;
    padding-bottom: 3%;
}
.footerlogomobil{
    display: none;
}
/* end footer */