body{
    margin: 0;
}

/* font initialize */
@font-face {
    font-family: "Farfromhome";
    src: url("../Typo-FarFromHomecoming.woff2");
}
@font-face {
    font-family: "Montserrat";
    src: url("../Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Montserrat-semibold";
    src: url("../static/Montserrat-SemiBold.ttf");
}

/* begin header css */
header{
    background-color: #b11313;
    display: flex;
    padding: 1.2% 12%;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat-semibold";
    
    font-size: 20px;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header .logo-marvel{
    display: flex;
    align-items: center;
    width: 27%;
}
.logosayna{
    width: 16%;
}
.logox{
    margin: 0% 8%;
}
.logomarvel{
    width: 46%;
    height: 92%;
}
/* end header css */

/* begin section1 */
.section1{
    background-image: url("../Illustration/img1.png");
    width: 100%;
    height: 870px;
    color: #fff;
    padding: 21% 12%;
}
.section1 .title{
    font-family: "Farfromhome";
    font-size: 100px;
}
.sayan-btn{
    border: 1px solid #fff;
    width: 16%;
    margin: 10% 2% 3%;
    height: 50px;
    border-radius: 15px;
    color: #b11313;
    font-family: "Montserrat-semibold";
    font-size: 14px;
}
.white{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}
/* end section1 */

/* begion section2 */
.section2{
    padding: 0% 12%;
    margin-top: -7%;
    color: #fff;
}
.section2a{
    padding: 2% 12%;
    color: #fff;
    background-color: #b11313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8%;
}

.content-section2{
    width: 30%;
}
.title-section2{
    width: 51%;

}
.title-section2 h1{
    font-family: "Farfromhome";
    font-size: 32px;
}
.content-section2 .section2-txt{
    text-align: justify;
    margin-bottom: 10%;
}
.content-section2 .section2-img{
    margin-bottom: 15%;
}
.section2-btn{
    display: flex;
    justify-content: center;
}
.section2-btn button{
    width: 70%;
}
/* ebd section2 */

/* begin section4 */
.section4{
    background-color: #114c92;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.section4 .form-section4{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4 .title{
    font-family:"Farfromhome", serif;
    font-size: 32px;
    text-align: center;
}
.section4 .form-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 .form-txt input{
    margin: 1% 0.2%;
    border: 1px solid #000;
    border-radius: 50px;
    padding-left: 3%;
    height: 28px;
    font-size: 14px;
    width: 75%;
}
.section4 .form-btn{
    display: flex;
    justify-content: center;
}
.section4 .form-btn button{
    border: 1px solid #fff;
    width: 35%;
    margin: 10% 0%;
    height: 50px;
    border-radius: 15px;
    background-color: #114c92;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
}

/* end section4 */

/* begin section 3 */
.section3{
    background-color: #b11313;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    color: #fff;
}
.section3 img{
    width: 75%;
    margin-right: -10%;
    margin-left: -15%;
}
.section3 .panel-title-section3 h1{
    font-family:"Farfromhome", serif;
    font-size: 32px;
}
.section3 .panel-title-section3 span{
    font-size: 14px;
}
.section3 .form-section3{
    margin-left: 12%;
    margin-top: 8%;
}
.section3 form{
    margin-top: 15%;
}
.section3 form input[type="text"]{
    display: block;
    margin: 5% 0%;
    width: 60%;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    padding-left: 2%;
    color: #fff;
    font-size: 14px;
}
.section3 form input[type="checkbox"]{
    width: 17px;
    height: 17px;
}
.section3 .checkbox .chebox-elemt{
    margin: 0% 2%; 
}
.section3 .checkbox{
    display: flex;
    color: #fff;
    font-size: 14px;
    width: 70%;
}
.section3 .checkbox a{
    color: #fff;
    font-size: 14px;
}
.btn-section3 .sayan-btn{
    width: 45%;
    margin-left: 7%;
}
/* end section 3 */

/* begin footer*/
footer{
    background-color: #000;
    color: #fff;
    padding: 0% 10%;
    font-family: "Montserrat";
    font-size: 14px;
}
footer .nav-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    
}
.footermobil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
    margin-right: 2%;
}
footer .logo-marvel-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5%;
    margin-left: -5%;
}

footer .lang{
    border: none;
    background-color: #b11313;
    box-shadow: none;
    color: #fff;
    border-radius: 50px;
}

footer .btn-lang{
    width: 22%;
}
.btn-group{
    width: 100%;
}

footer .footer-logo-rs{
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}

footer .footer-logo-rs a{
    background-color: #b11313;
    padding: 5px;
    border-radius: 50px;
    margin: 0% 0.5%;
}

footer .corpyright{
    text-align: center;
    padding-bottom: 3%;
}
.footerlogomobil{
    display: none;
}
/* end footer */