body{
    margin: 0;
}

/* font initialize */
@font-face {
    font-family: "Farfromhome";
    src: url("../Typo-FarFromHomecoming.woff2");
}
@font-face {
    font-family: "Montserrat";
    src: url("../Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Montserrat-semibold";
    src: url("../static/Montserrat-SemiBold.ttf");
}

/* begin header css */
header{
    background-color: #b11313;
    display: flex;
    padding: 1.2% 12%;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat-semibold";
    
    font-size: 20px;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header .logo-marvel{
    display: flex;
    align-items: center;
    width: 27%;
}


/* end header css */

/* begin section4 */
.section4{
    background-color: #114c92;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.section4 .form-section4{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4 .title{
    font-family:"Farfromhome", serif;
    font-size: 32px;
    text-align: center;
}
.section4 .form-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 .form-txt input{
    margin: 1% 0.2%;
    border: 1px solid #000;
    border-radius: 50px;
    padding-left: 3%;
    height: 28px;
    font-size: 14px;
    width: 75%;
}
.section4 .form-btn{
    display: flex;
    justify-content: center;
}
.section4 .form-btn button{
    border: 1px solid #fff;
    width: 35%;
    margin: 10% 0%;
    height: 50px;
    border-radius: 15px;
    background-color: #114c92;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
}

/* end section4 */

/* begin footer*/
footer{
    background-color: #000;
    color: #fff;
    padding: 0% 10%;
    font-family: "Montserrat";
    font-size: 14px;
}
footer .nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
}
footer .logo-marvel-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5%;
    margin-left: -5%;
}

footer .lang{
    border: none;
    background-color: #b11313;
    box-shadow: none;
    color: #fff;
    border-radius: 50px;
}

footer .btn-lang{
    width: 22%;
}
.btn-group{
    width: 100%;
}

footer .footer-logo-rs{
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}

footer .footer-logo-rs a{
    background-color: #b11313;
    padding: 5px;
    border-radius: 50px;
    margin: 0% 0.5%;
}

footer .corpyright{
    text-align: center;
    padding-bottom: 3%;
}
/* end footer */